---
import "@/styles/global.css";
import { getLang } from "@/lib/i18n/ui";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  class?: string;
  clientRouter?: boolean;
  transitionName?: string;
}

const {
  title,
  class: className,
  description,
  clientRouter = false,
} = Astro.props;

const lang = getLang(Astro.currentLocale);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <script is:inline>
      const applyReadingMode = () => {
        document.documentElement.dataset.mode =
          localStorage.getItem("reading-mode") || "regular";
      };

      applyReadingMode();
      document.addEventListener("astro:after-swap", applyReadingMode);
    </script>

    <Font cssVariable="--font-geist" preload />
    <Font cssVariable="--font-geist-mono" preload />
    <Font cssVariable="--font-jacquard" preload />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}

    {clientRouter && <ClientRouter />}
  </head>
  <body class={className}>
    <slot />
  </body>
</html>
